<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        {{! CSS DE BOOTSTRAP }}
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
        {{! JS DE BOOTSTRAP }}
        <script defer src="/bootstrap/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        {{>navbar 
            background="bg-success"
        }}
        <main class="container">
            {{{body}}}
        </main>

    </body>
</html>